@page
@model Blog.FrontEnd.loginPage.loginModel
@{
<form method="post">
    <input type="text" id="login" name="Username"/>
    <input type="text" id="password" name="Password"/>
    <input type="submit" id="btnSubmit" onclick="clickHandlerInBrowser()" />
    <script src="~/js/LoginRedirect.js"></script>
</form>
}
