@page
@model Blog.FrontEnd.blogPage.blogModel

<form method="post">
    <input type="text" id="blogTitle" name="BlogTitle" />
    <input type="text" id="blogContainment" name="BlogData" />
    <input type="submit" id="submitButton" value="Submit" />
</form>

@* <div id="moreBlogs"></div> *@

@* <script src="~/js/BlogPostHandler.js"></script> *@
