@page
@model Blog.FrontEnd.blogPage.blogModel
@{
    <input type="text" id="blogContainment" />
    <input type="submit" id="submitButton">
    <div id="moreBlogs"></div>
    <script src="~/js/BlogPostHandler.js"></script>
}